- content_for(:title) do
  Home
- content_for(:all_of_us_helper_header) do
  = render 'layouts/all_of_us_helper_header'
- content_for(:all_of_us_helper_content_header) do
  #all-of-us-helper-content-header
    .row
      .all-of-us-helper-welcome
        %h1
          Welcome
- content_for(:all_of_us_helper_content) do
  #all-of-us-helper-content
    .row
      #home.columns.large-24
        = render 'shared/flash'
        .introduction
          %p
            Thank you for your interest in
            = link_to 'All of Us Helper', root_url()
        .instructions
          .new_user
          .existing_user
      %br
        moomin
      %br
        moomin
      %br
        moomin
      %br
        moomin
      %br
        moomin
      %br
        moomin
      %br
        moomin
      %br
        moomin
      %br
        moomin
      %br
        moomin
      %br
        moomin
      %br
        moomin
      %br
        moomin
      %br
        moomin
      %br
        moomin
      %br
        moomin
      %br
        moomin
      %br
        moomin
      %br
        moomin
      %br
        moomin
      %br
        moomin
      %br
        moomin
      %br
        moomin
      %br
        moomin
      %br
        moomin
