- content_for(:title) do
  Home
- content_for(:all_of_us_helper_header) do
  = render 'layouts/all_of_us_helper_header'
- content_for(:all_of_us_helper_content_header) do
  #all-of-us-helper-content-header
    .row
      .all-of-us-helper-welcome
        %h1
          Welcome
- content_for(:all_of_us_helper_content) do
  #all-of-us-helper-content
    #home
      = render 'shared/flash'
      .introduction
        %p
          Thank you for your interest in
          = link_to 'All of Us Helper', root_url()
      .instructions
        .new_user
        .existing_user

      #exampleModal1.reveal{"data-reveal" => ""}
        %h1 Awesome. I Have It.
        %p.lead Your couch. It is mine.
        %p I'm a cool paragraph that lives inside of an even cooler modal. Wins!
        %button.close-button{"aria-label" => "Close modal", "data-close" => "", :type => "button"}
          %span{"aria-hidden" => "true"} ×
