/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "foundation_and_overrides";
@import "all_of_us_helper";
@import "home";
@import "invitation_code_assignments";
@import "invitation_codes";
@import "patients";

//See https://github.com/zurb/foundation-sites/issues/8512
@mixin hack-stack {
  thead {
    th {
      display: block;
    }
  }

  tfoot {
    display: none;
  }

  tr,
  th,
  td {
    display: block;
  }

  td {
    border-top: 0;
  }
}

table.hack_stack {
   @include breakpoint(medium down) {
      @include hack_stack;
   }
}