#invitation-codes-header {
  @include grid-row();
  #search-invitation-codes-form {
    @include grid-column($columns: 24);

    @include breakpoint(large) {
      h1 {
        @include grid-column($columns: 8);
      }

      .assignment_status {
        @include grid-column($columns: 6);
      }

      .search-box {
        @include grid-column($columns: 6);
      }

      .search-buttons{
        @include grid-column($columns: 4);
      }
    };

    .search-buttons{
      margin-top: 1.5rem;
      #search-invitation-codes-button {
        margin-top: .50rem;
      }
    }
  }
}

#invitation-codes {
  @include grid-row();
  #invitation-codes-list {
		@include grid-column($columns: 24);

    @include breakpoint(large) {
      .pagination-top {
        @include grid-column($columns: 16);

      }

      .new-batch-invitation-code-link {
        @include grid-column($columns: 8);
      }
    }

    th .current {
      padding-right: 2em;
      background-repeat: no-repeat;
      background-position: right center;
    }

    th .asc {
      background-image: image_url("drop25.png");
    }

    th .desc {
      background-image: image_url("drop27.png");
    }

    table {
      @include grid-column($columns: 24);
    }
  }
}

#invitation-code-header {
  @include grid-column-row();
}

#invitation-code-show {
  @include grid-column-row();

  .code, .actions {
   margin-bottom: 1rem;
  }
}