#patients-header {
  @include grid-row();
  #search-patients-form {
    @include grid-column($columns: 24);

    @include breakpoint(large) {
      h1 {
        @include grid-column($columns: 4);
      }

      .search-box {
        @include grid-column($columns: 6);
        @include grid-column-offset(10);
      }
      .search-buttons{
        @include grid-column($columns: 4);
      }
    };

    .search-buttons{
      margin-top: 1.5rem;
      #search-patients-button {
        margin-top: .50rem;
      }
    }
  }
}

#patients {
  @include grid-row();
  #patients-list {
		@include grid-column($columns: 24);

    th .current {
      padding-right: 2em;
      background-repeat: no-repeat;
      background-position: right center;
    }

    th .asc {
      background-image: image_url("drop25.png");
    }

    th .desc {
      background-image: image_url("drop27.png");
    }

    table {
      @include grid-column($columns: 24);
    }
  }
}

#patient-header {
  @include grid-column-row();
}

#patient-show {
  @include grid-column-row();

  .record_id, .first_name, .last_name, .email, .actions {
   margin-bottom: 1rem;
  }
}