#all-of-us-helper-header
  .off-canvas-wrapper
    .title-bar{"data-hide-for" => "large", "data-responsive-toggle" => "widemenu"}
      = link_to image_tag('allofus-logo@2x.png', alt: 'all of us helper', class: 'all-of-us-helper-logo-small'), root_url
      .title-bar-right
        %button.menu-icon{"data-open" => "offCanvasRight", :type => "button"}
    #offCanvasRight.off-canvas.position-right{"data-off-canvas" => ""}
      %ul.vertical.menu
        %li
          %button.close-button{"aria-label" => "Close menu", "data-close" => "", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        = render 'shared/navigation_links'
    .off-canvas-content{"data-off-canvas-content" => ""}
  #widemenu
    .row.expanded
      .all-of-us-helper-branding
        = link_to image_tag('allofus-logo@2x.png', alt: 'all of us helper', class: 'all-of-us-helper-logo-large'), root_url
      .all-of-us-helper-main-navigation
        .row
          = render 'shared/navigation'